
  

  .post {
    width: 400px;
    font-family: 'Lexend', sans-serif;
      /* border: 1px solid black; */
  }
  
  .post-image {
    display: block;
    width: 100%;
  }
  
  .post-ratings-container {
    display: flex;
    justify-content: end;
  }
  
  
  .post-rating { 
    display: flex;
    align-items: center;
    cursor: default;
  }
  
  .post-rating:not(:last-child) {
    margin-right: 12px;
  }
  
  .post-rating-selected > .post-rating-button,
  .post-rating-selected > .post-rating-count {
    color: #009578;
  }
  
  .post-rating-button {
    margin-right: 6px;
    cursor: pointer;
    color: #555555;
  }
  
  .post-rating:not(.post-rating-selected) > .post-rating-button:hover {
    color: #000000;
  }
  
  .post .video{
      min-height: 200px;
      height: auto;
  }
  
  .thumbnail{
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
  }
  
  .content{
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
  
  }
  
  .post .channel-icon{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
  }
  
  .title{
      width: 98%;
      height: 18px;
      overflow: hidden;
      margin-left: 5px;
      margin-bottom: 15px;
  }
  
  .post .channel-name{
      font-size: 14px;
      width: 50%;
      color: #979797;
  }


.fa-thumbs-up:hover, .fa-thumbs-down:hover{
  filter: drop-shadow(0 0 2em #646cffaa);

}